.btn-green{
  background-color: #37515f;
  color:white;
  padding: 15px 20px;
  border-radius: 4px;
  font-weight: bold;
  font-family: 'Lora', sans-serif;
  font-weight: lighter;
}
.btn-green:hover{
  background-color: #78a1bb;
  color: #C6E2E9;
}
